## Cleaning training data - first passthrough

In [1]:
# Import pandas and numpy for data cleaning.
import pandas as pd
import numpy as np

In [2]:
# Load in the train .csv.
train = pd.read_csv('../data/train.csv')

In [3]:
# Convert all columns to lowercase and replace spaces in column names.
train.columns = [col.lower().replace(" ", "_") for col in train.columns]

In [4]:
# Print the shape and first 5 rows.
print(train.shape)
train.head()

(2051, 81)

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,NaN,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

In [5]:
# Check the info for nulls and dtypes.
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 81 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2051 non-null   int64
 1   pid              2051 non-null   int64
 2   ms_subclass      2051 non-null   int64
 3   ms_zoning        2051 non-null   object
 4   lot_frontage     1721 non-null   float64
 5   lot_area         2051 non-null   int64
 6   street           2051 non-null   object
 7   alley            140 non-null    object
 8   lot_shape        2051 non-null   object
 9   land_contour     2051 non-null   object
 10  utilities        2051 non-null   object
 11  lot_config       2051 non-null   object
 12  land_slope       2051 non-null   object
 13  neighborhood     2051 non-null   object
 14  condition_1      2051 non-null   object
 15  condition_2      2051 non-null   object
 16  bldg_type        2051 non-null   object
 17  house_style      2051 non-null   object
 18  overall_qual     2051 non-null   int64
 19  overall_cond     2051 non-null   int64
 20  year_built       2051 non-null   int64
 21  year_remod/add   2051 non-null   int64
 22  roof_style       2051 non-null   object
 23  roof_matl        2051 non-null   object
 24  exterior_1st     2051 non-null   object
 25  exterior_2nd     2051 non-null   object
 26  mas_vnr_type     2029 non-null   object
 27  mas_vnr_area     2029 non-null   float64
 28  exter_qual       2051 non-null   object
 29  exter_cond       2051 non-null   object
 30  foundation       2051 non-null   object
 31  bsmt_qual        1996 non-null   object
 32  bsmt_cond        1996 non-null   object
 33  bsmt_exposure    1993 non-null   object
 34  bsmtfin_type_1   1996 non-null   object
 35  bsmtfin_sf_1     2050 non-null   float64
 36  bsmtfin_type_2   1995 non-null   object
 37  bsmtfin_sf_2     2050 non-null   float64
 38  bsmt_unf_sf      2050 non-null   float64
 39  total_bsmt_sf    2050 non-null   float64
 40  heating          2051 non-null   object
 41  heating_qc       2051 non-null   object
 42  central_air      2051 non-null   object
 43  electrical       2051 non-null   object
 44  1st_flr_sf       2051 non-null   int64
 45  2nd_flr_sf       2051 non-null   int64
 46  low_qual_fin_sf  2051 non-null   int64
 47  gr_liv_area      2051 non-null   int64
 48  bsmt_full_bath   2049 non-null   float64
 49  bsmt_half_bath   2049 non-null   float64
 50  full_bath        2051 non-null   int64
 51  half_bath        2051 non-null   int64
 52  bedroom_abvgr    2051 non-null   int64
 53  kitchen_abvgr    2051 non-null   int64
 54  kitchen_qual     2051 non-null   object
 55  totrms_abvgrd    2051 non-null   int64
 56  functional       2051 non-null   object
 57  fireplaces       2051 non-null   int64
 58  fireplace_qu     1051 non-null   object
 59  garage_type      1938 non-null   object
 60  garage_yr_blt    1937 non-null   float64
 61  garage_finish    1937 non-null   object
 62  garage_cars      2050 non-null   float64
 63  garage_area      2050 non-null   float64
 64  garage_qual      1937 non-null   object
 65  garage_cond      1937 non-null   object
 66  paved_drive      2051 non-null   object
 67  wood_deck_sf     2051 non-null   int64
 68  open_porch_sf    2051 non-null   int64
 69  enclosed_porch   2051 non-null   int64
 70  3ssn_porch       2051 non-null   int64
 71  screen_porch     2051 non-null   int64
 72  pool_area        2051 non-null   int64
 73  pool_qc          9 non-null      object
 74  fence            400 non-null    object
 75  misc_feature     65 non-null     object
 76  misc_val         2051 non-null   int64
 77  mo_sold          2051 non-null   int64
 78  yr_sold          2051 non-null   int64
 79  sale_type        2051 non-null   object
 80  saleprice        2051 non-null   int64
dtypes: float64(11), int64(28), object(42)
memory usage: 1.3+ MB

---  

Columns with dtype float have values referring to a measurement of the feature.  
For example, garage_cars refers to the number of cars that can fit in the garage, and lot_frontage refers to the length in feet of the property which is connected to the street.  
For these columns, when the value is NaN, it means that the property does not have this feature, which means that the measurement is 0.  
Hence, NaNs for the columns with dtype 'float' will be filled with 0 to indicate that the property has a measurement of 0 for this feature.  

However, there is a column for garage_yr_blt which is also of dtype 'float'. In this case, 0 is not sensible value. Hence this column will not be imputed. Instead, it will be dropped as we already have a year built column, as well as other garage features.

In [6]:
train.drop('garage_yr_blt', axis = 1, inplace=True)

In [7]:
# Create a list of columns with dtype float
float_columns = list(train.select_dtypes(include = np.float64))

In [8]:
# Iterate through the list to fillna for these columns with 0
[train[col].fillna(0, inplace=True) for col in float_columns]
train.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,0.0,13517,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,138500

---  

Columns with dtype 'object' have values referring to the quality or type of the feature.  
For example, mas_vnr_type refers to the masonry veneer type and alley refers to the type of alley access the property has.  
For these columns, when the value is NaN, it means that the property does not have this feature.  
Hence, NaNs for the columns with dtype 'object' will be filled with "None" to indicate that the property does not have this feature.

In [9]:
# Create a list of columns with dtype object
object_columns = list(train.select_dtypes(include = object))

In [10]:
# Iterate through the list to fillna for these columns with "None"
[train[col].fillna('None', inplace=True) for col in object_columns]
train.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street,alley,lot_shape,land_contour,...,screen_porch,pool_area,pool_qc,fence,misc_feature,misc_val,mo_sold,yr_sold,sale_type,saleprice
0,109,533352170,60,RL,0.0,13517,Pave,None,IR1,Lvl,...,0,0,None,None,None,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,None,IR1,Lvl,...,0,0,None,None,None,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,None,Reg,Lvl,...,0,0,None,None,None,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,None,Reg,Lvl,...,0,0,None,None,None,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,None,IR1,Lvl,...,0,0,None,None,None,0,3,2010,WD,138500

In [11]:
# Convert ID and PID columns to object dtype as they should not be considered a feature.
# Also convert ms_subclass to object as this should not be considered numerical

train.id = train.id.astype(object)
train.pid = train.pid.astype(object)
train.ms_subclass = train.ms_subclass.astype(object)

In [12]:
# Check that there are no more NaNs

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 80 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               2051 non-null   object
 1   pid              2051 non-null   object
 2   ms_subclass      2051 non-null   object
 3   ms_zoning        2051 non-null   object
 4   lot_frontage     2051 non-null   float64
 5   lot_area         2051 non-null   int64
 6   street           2051 non-null   object
 7   alley            2051 non-null   object
 8   lot_shape        2051 non-null   object
 9   land_contour     2051 non-null   object
 10  utilities        2051 non-null   object
 11  lot_config       2051 non-null   object
 12  land_slope       2051 non-null   object
 13  neighborhood     2051 non-null   object
 14  condition_1      2051 non-null   object
 15  condition_2      2051 non-null   object
 16  bldg_type        2051 non-null   object
 17  house_style      2051 non-null   object
 18  overall_qual     2051 non-null   int64
 19  overall_cond     2051 non-null   int64
 20  year_built       2051 non-null   int64
 21  year_remod/add   2051 non-null   int64
 22  roof_style       2051 non-null   object
 23  roof_matl        2051 non-null   object
 24  exterior_1st     2051 non-null   object
 25  exterior_2nd     2051 non-null   object
 26  mas_vnr_type     2051 non-null   object
 27  mas_vnr_area     2051 non-null   float64
 28  exter_qual       2051 non-null   object
 29  exter_cond       2051 non-null   object
 30  foundation       2051 non-null   object
 31  bsmt_qual        2051 non-null   object
 32  bsmt_cond        2051 non-null   object
 33  bsmt_exposure    2051 non-null   object
 34  bsmtfin_type_1   2051 non-null   object
 35  bsmtfin_sf_1     2051 non-null   float64
 36  bsmtfin_type_2   2051 non-null   object
 37  bsmtfin_sf_2     2051 non-null   float64
 38  bsmt_unf_sf      2051 non-null   float64
 39  total_bsmt_sf    2051 non-null   float64
 40  heating          2051 non-null   object
 41  heating_qc       2051 non-null   object
 42  central_air      2051 non-null   object
 43  electrical       2051 non-null   object
 44  1st_flr_sf       2051 non-null   int64
 45  2nd_flr_sf       2051 non-null   int64
 46  low_qual_fin_sf  2051 non-null   int64
 47  gr_liv_area      2051 non-null   int64
 48  bsmt_full_bath   2051 non-null   float64
 49  bsmt_half_bath   2051 non-null   float64
 50  full_bath        2051 non-null   int64
 51  half_bath        2051 non-null   int64
 52  bedroom_abvgr    2051 non-null   int64
 53  kitchen_abvgr    2051 non-null   int64
 54  kitchen_qual     2051 non-null   object
 55  totrms_abvgrd    2051 non-null   int64
 56  functional       2051 non-null   object
 57  fireplaces       2051 non-null   int64
 58  fireplace_qu     2051 non-null   object
 59  garage_type      2051 non-null   object
 60  garage_finish    2051 non-null   object
 61  garage_cars      2051 non-null   float64
 62  garage_area      2051 non-null   float64
 63  garage_qual      2051 non-null   object
 64  garage_cond      2051 non-null   object
 65  paved_drive      2051 non-null   object
 66  wood_deck_sf     2051 non-null   int64
 67  open_porch_sf    2051 non-null   int64
 68  enclosed_porch   2051 non-null   int64
 69  3ssn_porch       2051 non-null   int64
 70  screen_porch     2051 non-null   int64
 71  pool_area        2051 non-null   int64
 72  pool_qc          2051 non-null   object
 73  fence            2051 non-null   object
 74  misc_feature     2051 non-null   object
 75  misc_val         2051 non-null   int64
 76  mo_sold          2051 non-null   int64
 77  yr_sold          2051 non-null   int64
 78  sale_type        2051 non-null   object
 79  saleprice        2051 non-null   int64
dtypes: float64(10), int64(25), object(45)
memory usage: 1.3+ MB

In [13]:
# Rename columns for better clarity
col_names = {'street': 'street_type', 'alley': 'alley_type', 'condition_1': 'proximity_road_railroad_1',
             'condition_2': 'proximity_road_railroad_2', 'exterior_1st': 'exterior_mat_1', 
             'exterior_2nd': 'exterior_mat_2', 'mas_vnr_type': 'masonry_veneer_type', 
             'mas_vnr_area': 'masonry_veneer_area', 'gr_liv_area': 'above_ground_living_area',
             'totrms_abvgrd': 'total_rms_above_ground', 'fireplace_qu': 'fireplace_qual',
             '3ssn_porch': 'three_season_porch', 'pool_qc': 'pool_qual', 'foundation': 'foundation_type',
             'fence': 'fence_type', 'heating': 'heating_type', 'electrical': 'electrical_system',
             'misc_val': 'misc_value','mo_sold': 'month_sold', 'yr_sold': 'year_sold'}

train.columns = [col_names.get(x, x) for x in train.columns]

In [14]:
# Save to new .csv
train.to_csv(index = False, path_or_buf = '../data/train_clean.csv')

## Cleaning testing data - first passthrough

For the test data, we will repeat the changes which we made in the training data.

In [15]:
# Repeat steps for test.csv
# Load in the train .csv.
test = pd.read_csv('../data/test.csv')
test.columns = [col.lower().replace(" ", "_") for col in test.columns]
test.drop('garage_yr_blt', axis=1, inplace=True)

In [16]:
# Create a list of columns with dtype float
float_columns = list(test.select_dtypes(include = np.float64))
# Iterate through the list to fillna for these columns with 0
[test[col].fillna(0, inplace=True) for col in float_columns];

In [17]:
# Create a list of columns with dtype object
object_columns = list(test.select_dtypes(include = object))
# Iterate through the list to fillna for these columns with "None"
[test[col].fillna('None', inplace=True) for col in object_columns];

In [18]:
# Convert ID and PID columns to object dtype as they should not be considered a feature.
# Also convert ms_subclass to object as this should not be considered numerical

test.id = test.id.astype(object)
test.pid = test.pid.astype(object)
test.ms_subclass = test.ms_subclass.astype(object)

In [19]:
# Rename columns for better clarity
col_names = {'street': 'street_type', 'alley': 'alley_type', 'condition_1': 'proximity_road_railroad_1',
             'condition_2': 'proximity_road_railroad_2', 'exterior_1st': 'exterior_mat_1', 
             'exterior_2nd': 'exterior_mat_2', 'mas_vnr_type': 'masonry_veneer_type', 
             'mas_vnr_area': 'masonry_veneer_area', 'gr_liv_area': 'above_ground_living_area',
             'totrms_abvgrd': 'total_rms_above_ground', 'fireplace_qu': 'fireplace_qual',
             '3ssn_porch': 'three_season_porch', 'pool_qc': 'pool_qual', 'foundation': 'foundation_type',
             'fence': 'fence_type', 'heating': 'heating_type', 'electrical': 'electrical_system',
             'misc_val': 'misc_value','mo_sold': 'month_sold', 'yr_sold': 'year_sold'}

test.columns = [col_names.get(x, x) for x in test.columns]

In [20]:
# Save to new .csv
test.to_csv(index = False, path_or_buf = '../data/test_clean.csv')

In [21]:
test.head()

,id,pid,ms_subclass,ms_zoning,lot_frontage,lot_area,street_type,alley_type,lot_shape,land_contour,...,three_season_porch,screen_porch,pool_area,pool_qual,fence_type,misc_feature,misc_value,month_sold,year_sold,sale_type
0,2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,...,0,0,0,None,None,None,0,4,2006,WD
1,2718,905108090,90,RL,0.0,9662,Pave,None,IR1,Lvl,...,0,0,0,None,None,None,0,8,2006,WD
2,2414,528218130,60,RL,58.0,17104,Pave,None,IR1,Lvl,...,0,0,0,None,None,None,0,9,2006,New
3,1989,902207150,30,RM,60.0,8520,Pave,None,Reg,Lvl,...,0,0,0,None,None,None,0,7,2007,WD
4,625,535105100,20,RL,0.0,9500,Pave,None,IR1,Lvl,...,0,185,0,None,None,None,0,7,2009,WD

## Adjusting training and test data - second passthrough
  
This time we will try dummifying the categorical columns.  
  
We align the columns of the train and test datasets using the dataset with more columns to ensure consistency in the shape.  

To check that this has solved the issue, we compare the shapes.

In [22]:
# Create a copy of the train dataset
train2 = train.copy()

In [23]:
# Select all the object columns (except id and pid) in a list
object_columns = list(train2.select_dtypes(include = object))
object_columns.remove('id')
object_columns.remove('pid')

# Dummify all object columns
train2 = pd.get_dummies(columns = object_columns, data = train2).astype(np.int64)
train2.shape

(2051, 320)

In [24]:
# Convert ID and PID columns to object dtype as they should not be considered a feature.

train2.id = train2.id.astype(object)
train2.pid = train2.pid.astype(object)

In [25]:
# Save to new .csv
train2.to_csv(index = False, path_or_buf = '../data/train2_clean.csv')

In [26]:
# Create a copy of the test dataset
test2 = test.copy()

In [27]:
# Select all the object columns (except id and pid) in a list
object_columns = list(test2.select_dtypes(include = object))
object_columns.remove('id')
object_columns.remove('pid')

# Dummify all object columns
test2 = pd.get_dummies(columns = object_columns, data = test2).astype(np.int64)
test2.shape

(878, 300)

In [28]:
# Align columns with training set
train2, test2 = train2.align(test2, join='left', axis=1)
# Fill the new nulls with 0 for the dummified columns
test2.fillna(0, inplace=True)
test2.drop('saleprice',axis=1,inplace=True)

In [29]:
# Compare the shapes - test2 should have 1 less column for saleprice
print(test2.shape)
print(train2.shape)

(878, 319)
(2051, 320)

In [30]:
# Convert ID and PID columns to object dtype as they should not be considered a feature.

test2.id = test2.id.astype(object)
test2.pid = test2.pid.astype(object)

In [31]:
# Save to new .csv
test2.to_csv(index = False, path_or_buf = '../data/test2_clean.csv')

## Adjusting training and test data - third passthrough  

Instead of dummifying the categorical columns, which did not work too well in the modelling process, we will try replacing the strings with numbers according to their type.  
There are two types of categorical columns in the dataset: ordinal, where there is an order/scale, and nominal, where it is unordered.  
For the nominal columns, the order does not matter, and dummifying it may be a better choice. However, to avoid overfitting the data, we will reduce the number of features, and will not use the nominal columns.    
For the ordinal columns, the order does matter, and hence we could give them numbers according to their scale.

In [32]:
# Make a copy of the original dataframes
train3 = train.copy()
test3 = test.copy()

In [33]:
# Create a list of columns with object dtype, excluding id and pid
object_columns = list(test3.select_dtypes(include = object))
object_columns.remove('id')
object_columns.remove('pid')

In [34]:
# Create a list of ordinal_columns by referring to the Ames data dictionary
ordinal_columns = ['lot_shape','utilities','land_slope','exter_qual','exter_cond','bsmt_qual',
                   'bsmt_cond','bsmt_exposure','bsmtfin_type_1','bsmtfin_type_2','heating_qc',
                   'electrical_system','kitchen_qual','functional','fireplace_qual', 'garage_finish',
                   'garage_qual','garage_cond','paved_drive','pool_qual','fence_type']

In [35]:
# Create a dictionary for mapping the ordinal values, according to the Ames data dictionary.
ordinal_dict = {'None':0,'NA':0,'MnWw':1,'GdWo':2,'MnPrv':3,'GdPrv':4,'Po':1,'Fa':2,'TA':3,'Gd':4,'Ex':5, 
                'N':0,'P':1,'Y':2,'Unf':1,'RFn':2,'Fin':3,'Sal':0,'Sev':1,'Maj2':2,'Maj1':3,'Mod':4,'Min2':5,
                'Min1':6,'Typ':7,'Mix':1,'FuseP':2,'FuseF':3,'FuseA':4,'SBrkr':5,'LwQ':2,'Rec':3,'BLQ':4,
                'ALQ':5,'GLQ':6,'No':1,'Mn':2,'Av':3,'Gtl':7,'ELO':1,'NoSeWa':2,'NoSewr':3,'AllPub':4,
                'IR3':1,'IR2':2,'IR1':3,'Reg':4}

In [36]:
# Map ordinal_dict to columns in train3 if they are ordinal columns
for col in train3:
    if col in ordinal_columns:
        train3[col] = train3[col].map(ordinal_dict)

In [37]:
# Repeat map for test3
for col in test3:
    if col in ordinal_columns:
        test3[col] = test3[col].map(ordinal_dict)

In [38]:
# Convert ID and PID columns to object dtype as they should not be considered a feature.
# Also convert ms_subclass to object as this should not be considered numerical
train3.id = train3.id.astype(object)
train3.pid = train3.pid.astype(object)
test3.id = test3.id.astype(object)
test3.pid = test3.pid.astype(object)

In [39]:
# Save them to .csv
train3.to_csv(index = False, path_or_buf = '../data/train3_clean.csv')
test3.to_csv(index = False, path_or_buf = '../data/test3_clean.csv')